.navbar-brand {
    margin-left: 8%;
}

.sub-title {
    margin-left: -22%;
}

.nav-keys {
    margin-left: 40%;
}

.navbar {
    color: white;
    background-color: black;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
}

.about-us {
    text-align: center;
    font-weight: 500;
}

.about-us p {
    margin-bottom: 20px;
}

.about-us img {
    width: 95%;
    margin: 0 auto;
}