@media (max-width: 575px) {
    .titles {
        font-size: 25px;
    }

    .about {
        font-size: 12px;
    }

    #book-btn1 {
        width: 60%;
        font-size: 16px;
    }

    .service {
        height: 195px;
        width: 170px;
    }

    .service-icon {
        width: 60%;
        height: 60%;
    }

    .service-text {
        font-size: 10px;
    }

    .book-section {
        padding-top: 5%;
        padding-left: 5%;
        font-size: 20px;
    }

    #book-btn2 {
        margin-top: 6%;
        font-size: 18px;
        font-weight: 600;
    }

    .room-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

        .foods {
            width: 80%;
        }

    .food-desc {
        font-size: 16px;
    }

    .happy-cus-container {
        padding-left: 3%;
        padding-right: 3%;
    }

    .happy-cus {
        width: 400px;
        font-size: 15px;
    }

    .review-section>h2 {
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 2%;
        font-size: 25px;
    }

    .review-section>h2>p {
        font-size: 10px;
    }

    .question {
        margin-top: 10%;
        padding-left: 8%;
    }

    .question>h6 {
        font-size: 28px;
    }

    .question-1 {
        display: flex;
        align-items: center;
        margin-left: -10%;
    }

    .question-1>img {
        margin-right: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .titles {
        font-size: 30px;
    }

    #book-btn1 {
        width: 35%;
        font-size: 18px;
    }

    .service {
        height: 200px;
        width: 175px;
    }

    .service-icon {
        width: 60%;
        height: 60%;
    }

    .service-text {
        font-size: 12px;
    }

    .book-section {
        padding-top: 4%;
        padding-left: 5%;
        font-size: 25px;
    }

    #book-btn2 {
        margin-top: 7%;
        font-size: 20px;
        font-weight: 600;
    }

    .room-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .foods{
        width: 40%;
    }

    .food-desc {
        font-size: 16px;
    }

    .food-price {
        font-size: 18px;
    }

    .happy-cus-container {
        padding-left: 8%;
        padding-right: 8%;
    }

    .review-section>h2 {
        margin-left: 5%;
        margin-right: 4%;
        margin-top: 2%;
        font-size: 30px;
    }

    .review-section>h2>p {
        font-size: 12px;
    }

    .question {
        margin-top: 10%;
        padding-left: 8%;
    }

    .question>h6 {
        font-size: 28px;
    }

    .question-1 {
        display: flex;
        align-items: center;
        margin-left: -10%;
    }

    .question-1>img {
        margin-right: 10px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .titles {
        font-size: 35px;
    }

    .about {
        font-size: 14px;
    }

    #book-btn1 {
        width: 30%;
        font-size: 18px;
        font-weight: 600;
    }

    .service {
        height: 215px;
        width: 190px;
    }

    .service-icon {
        width: 60%;
        height: 60%;
    }

    .service-text {
        font-size: 14px;
    }

    .book-section {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 35px;
    }

    .book-section {
        padding-top: 2%;
        padding-left: 5%;
        font-size: 30px;
    }

    #book-btn2 {
        margin-top: 7%;
        font-size: 22px;
        font-weight: 600;
    }

    .room-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .foods{
        width: 30%;
    }

    .food-desc {
        font-size: 15px;
    }

    .happy-cus-container {
        padding-left: 12%;
        padding-right: 12%;
    }

    .review-section>h2 {
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 2%;
        font-size: 40px;
    }

    .review-section>h2>p {
        font-size: 15px;
    }

    .bottom-bar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }

    .question {
        padding-left: 50%;
        margin-top: -5%;
    }

    .question>h6 {
        font-size: 18px;
    }

    .question-1 {
        display: flex;
        align-items: center;
        margin-left: -10%;
    }

    .question-1>h6 {
        font-size: 16px;
    }

    .question-1>img {
        margin-right: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .titles {
        font-size: 40px;
    }

    .about {
        font-size: 16px;
    }

    .about-title {
        font-size: 24px;
    }

    #book-btn1 {
        width: 25%;
        font-size: 20px;
        font-weight: 600;
    }

    .service {
        height: 215px;
        width: 190px;
    }

    .service-icon {
        width: 60%;
        height: 60%;
    }

    .service-text {
        font-size: 16px;
    }

    .book-section {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 40px;
    }

    .book-section {
        padding-top: 2.5%;
        padding-left: 5%;
        font-size: 35px;
    }

    #book-btn2 {
        margin-top: 5%;
        font-size: 24px;
        font-weight: 600;
    }

    .room-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 1150px;
    }

    .foods {
        width: 30%;
    }

    .food-desc {
        font-size: 18px;
    }

    .food-price {
        font-size: 18px;
    }

    .happy-cus-container {
        padding-left: 3%;
        padding-right: 3%;
        display: flex;
        flex-wrap: wrap;
        gap: 3%;
    }

    .happy-cus {
        width: 400px;
        font-size: 18px;
    }

    .review-section>h2 {
        margin-left: 6%;
        margin-right: 5%;
        margin-top: 2%;
        font-size: 40px;
    }

    .review-section>h2>p {
        font-size: small;
    }

    .bottom-bar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }

    .question {
        padding-left: 50%;
        margin-top: -5%;
    }

    .question-1 {
        display: flex;
        align-items: center;
        margin-left: -10%;
    }

    .question-1>img {
        margin-right: 10px;
    }
}

@media (min-width: 1200px) {
    .titles {
        font-size: 50px;
    }

    .about {
        font-size: 20px;
    }

    .about-title {
        font-size: 35px;
    }

    #book-btn1 {
        width: 25%;
        font-size: 25px;
        font-weight: 600;
    }

    .service {
        height: 225px;
        width: 200px;
    }

    .service-icon {
        width: 60%;
        height: 60%;
    }

    .service-text {
        font-size: 18px;
    }

    .book-section {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 50px;
    }

    .book-section {
        padding-top: 2%;
        padding-left: 5%;
        font-size: 50px;
    }

    #book-btn2 {
        margin-top: 6%;
        font-size: 35px;
        font-weight: 600;
    }

    .room-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .foods {
        width: 20%;
    }

    .food-desc {
        font-size: 17px;
    }

    .happy-cus-container {
        padding-left: 3%;
        padding-right: 3%;
        display: flex;
        flex-wrap: wrap;
        gap: 3%;
    }

    .happy-cus {
        width: 31%;
    }

    .review-section>h2 {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        font-size: 300%;
        color: whitesmoke;
    }

    .review-section>h2>p {
        font-size: small;
    }

    .bottom-bar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }

    .question {
        padding-left: 50%;
        margin-top: -5%;
    }

    .question-1 {
        display: flex;
        align-items: center;
        margin-left: -10%;
    }

    .question-1>img {
        margin-right: 10px;
    }
}