body{
    margin: 0;
}

/*------------------------------------------Responsive-media-queries--------------------------------------------*/

@media (max-width: 575px) {
    .titles{
        font-size: 25px;
    }

    .about{
        font-size: 15px;
    }

    .row{
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .titles {
            font-size: 30px;
        }
}

@media (min-width: 768px) and (max-width: 991px) {
    .titles {
            font-size: 35px;
        }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .titles {
            font-size: 40px;
    }
}

@media (min-width: 1200px) {
    .titles {
            font-size: 50px;
    }
}

/*------------------------------------------Navigation-bar--------------------------------------------*/

.navbar-brand {
    margin-left: 8%;
}

.sub-title {
    margin-left: -22%;
}

.nav-keys {
    margin-left: 40%;
}

.navbar {
    color: white;
    background-color: black;
}

/*------------------------------------------About-us--------------------------------------------*/

.about-img {
    border-radius: 10px;
    float: left;
}

.about {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

#book-btn1 {
    width: 30%;
    height: 10%;
    margin-left: 35%;
    border-radius: 5px;
    background-color: rgb(232, 166, 166);
    color: white;
    font-weight: 600;
}

#book-btn1:hover {
    background-color: white;
    color: brown;
}

/*------------------------------------------Services--------------------------------------------*/

.titles {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.service-container{
    width: 100%;
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    justify-content: space-evenly;
}

.service{
    flex-wrap: wrap;
    border: 1px solid gray;
    width: 15%;
    height: 250px;
    text-align: center;
    border-radius: 100% 100% 100% 0%;
}

.service:hover{
    background-color: rgb(180, 178, 178);
}

.service-icon{
    width: 60%;
    height: 80%;
}

.book-section{
    width: 100%;
    height: 30%;
    background-color: rgb(168, 164, 164);
    text-align: center;
    font-size: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: white;
}

#book-btn2{
    width: 30%;
    height: 40%;
    margin-top: 8%;
    font-size: large;
    font-weight: 700;
    border-radius: 10px;
}

#book-btn2:hover{
    background-color: rgb(55, 104, 55);
    color: white;
}

/*------------------------------------------Rooms--------------------------------------------*/

.room-container{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    width: auto;
    justify-content: space-evenly;
}

.rooms{
    width: 30%;
    flex-wrap: wrap;
}

.rooms:hover{
    background-color: rgb(48, 43, 43);
    color: white;
    opacity: 80%;
}

.room-img{
    width: 100%;
}

.room-book-price{
    margin-left: 10%;
    color: rgb(232, 166, 166);
    font-weight: 500;
}

.room-book-btn{
    margin-left: 7%;
    border: 1px solid black;
    border-radius: 7px;
}

.room-book-btn:hover{
    background-color: rgb(50, 138, 50);
    color: white;
}

/*------------------------------------------Tour--------------------------------------------*/

#hotel-tour{
    width: 100%;
    height: 40rem;
}

/*-------------------------------------Restaurant-&-Bar---------------------------------------*/

.restaurant-container{
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

.restaurant-img{
    width: 50%;
    float: left;
    border: 1px solid white;
    border-radius: 10px;
}

.food-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
}

.foods{
    display: flex;
    border: 1px solid black;
    width: 17.49rem;
    height: 4.7rem;
    background-color: rgb(221, 211, 193);
    border-radius: 5px;
}

.foods:hover{
    background-color: gray;
    color: white;
}

.food-img{
    width: 35%;
    height: 10%;
    border: 1px solid gray;
    border-radius: 100%;
}

.food-desc{
    margin-left: 5%;
    margin-top: 3%;
}

.food-price{
   margin-top: -5%;
   margin-right: 3%; 
}

/*-------------------------------------Happy-Customers---------------------------------------*/

.happy-cus-container{
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

.happy-cus{
    width: 31%;
}

.happy-cus:hover{
    background-color: rgb(48, 43, 43);
    color: white;
    opacity: 80%;
}

.review-section{
    width: 100%;
    background-color: rgb(168, 164, 164);
    display:flex;
    flex-wrap: wrap;
    gap: 3%;
    text-align: center;
}

.review-section>h2{
    margin-left: 10%;;
    margin-top: 2%;
    font-size: 300%;
    color: whitesmoke;
}

.review-section>h2>p{
    font-size: small;
}

/*-------------------------------------Bottom-Bar---------------------------------------*/

.bottom-bar{
    padding: 5% 10% 5% 10%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    background-color: rgb(25, 24, 24);
    color: white;
}

.dreams{
    font-size: 75%;
    margin-top: -1.5%;
    margin-bottom: 5%;
}

.social-img-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.social-img{
    width: 10%;
    height: 10%;
}

.question{
    padding-left: 50%;
    margin-top: -5%;
}

.question-1 {
    display: flex;
    align-items: center;
    margin-left: -10%;
}

.question-1>img {
    margin-right: 10px;
}

.copyright {
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 1%;
    padding-top: 2%;
}

.copyright>h5{
    font-size: 70%;
}

.copyright>h4{
    font-size: 100%;
} 