body {
    background-color: white;
    color: black;
}

.navbar-brand {
    margin-left: 8%;
}

.sub-title {
    margin-left: -22%;
}

.nav-keys {
    margin-left: 40%;
}

.nav-container {
    position: fixed;
}
.about-img {
    border-radius: 10px;
    float: left;
}

.about {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}